<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cdt_username</key>
	<string>e1ad23d5-4602-46ff-ad38-6e692ff0c1dd-bluemix</string>
	<key>cdt_db_name</key>
	<string>my_db</string>
	<key>cdt_tests_db_name</key>
	<string>tests_db</string>
	<key>cdt_key</key>
	<string>heresclyinglownstindbadv</string>
	<key>cdt_pass</key>
	<string>e22cda58e40afb28d7614e9e57272fcc1d27d946</string>
	<key>backend_route</key>
	<string>http://BluePic-II.mybluemix.net</string>
	<key>GUID</key>
	<string>5d311129-1878-4d48-a29e-8f97f48bb460</string>
	<key>obj_stg_public_url</key>
	<string>https://dal.objectstorage.open.softlayer.com/v1/AUTH_dd1ceb19680948119774a6d2f08057c2</string>
	<key>obj_stg_password</key>
	<string>wqQ^0=MEs.0=2Yuk</string>
	<key>obj_stg_user_id</key>
	<string>f7de00fe33404786857f90c1c73d255d</string>
	<key>obj_stg_project_id</key>
	<string>dd1ceb19680948119774a6d2f08057c2</string>
	<key>obj_stg_auth_url</key>
	<string>https://identity.open.softlayer.com/v3/auth/tokens</string>
</dict>
</plist>
