<nav class="navbar navbar-full navbar-dark flexParent navStyles" ng-controller="navbarController">
    <ul class="nav navbar-nav flexLeft marginLeft">
        <li class="nav-item ">
            <img ng-click="goToHomepage()" src="assets/img/Logo.png" alt="">
        </li>
    </ul>
    <div class="nav navbar-nav flexCenter">
        <form class="form-inline nav-item" >
            <input id="placeholder" class="form-control search placeholderIcon" ng-model="searchTerm.value"
                   type="text" ng-change=checkPlaceholder() placeholder="Search">
        </form>
    </div>
    <ul class="nav navbar-nav flexRight marginsRight">
        <li class="nav-item">
            <img ui-sref="explore" ng-src= "{{ state.current.name == 'explore' && 'assets/img/Explore-Selected.png' || 'assets/img/Explore.png' }}">
        </li>
        <li class="nav-item marginLeft2">
            <img ng-src="{{ state.current.name == 'profile' &&  'assets/img/Profile-Selected.png' || 'assets/img/Profile.png' }}" ng-click="goToProfile()">
        </li>
    </ul>
</nav>
