<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isLocal</key>
	<true/>
	<key>appRouteLocal</key>
	<string>http://localhost:8090</string>
	<key>appRouteRemote</key>
	<string>&lt;routeURL&gt;</string>
	<key>bluemixAppGUID</key>
	<string>&lt;appGUID&gt;</string>
	<key>bluemixAppRegion</key>
	<string>&lt;appRegion&gt;</string>
	<key>pushAppGUID</key>
	<string></string>
	<key>mcaTenantId</key>
	<string></string>
</dict>
</plist>
