<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isLocal</key>
	<true/>
	<key>bluemixBaseRequestURL_remote</key>
	<string>https://IBM-BluePic.mybluemix.net</string>
	<key>bluemixBaseRequestURL_local</key>
	<string>http://192.168.1.66:8090</string>
	<key>bluemixAppRoute</key>
	<string>https://IBM-BluePic.mybluemix.net</string>
	<key>bluemixAppGUID</key>
	<string>75eef52c-2ed1-4518-9587-ce55cc66479d</string>
	<key>bluemixAppRegion</key>
	<string>.ng.bluemix.net</string>
</dict>
</plist>
