<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isLocal</key>
	<true/>
	<key>appRouteLocal</key>
	<string>http://localhost:8080</string>
	<key>appRouteRemote</key>
	<string>https://bluepic-unshort-apery.mybluemix.net/</string>
	<key>cloudAppRegion</key>
	<string>.ng.bluemix.net</string>
	<key>pushAppGUID</key>
	<string>f2ae7ad9-84cb-45d8-bfb7-456f492b9ccc</string>
	<key>pushClientSecret</key>
	<string>c44000cf-2ddd-4a1d-9351-e358dd9540cf</string>
	<key>appIdTenantId</key>
	<string>e4758f77-be0e-4fe8-aca5-9ce8ca4faa7a</string>
</dict>
</plist>
