<div class="backgroundImg" >
    <div class="container2">
        <div class="helper">
            <div class="content">
                <ul class="">
                    <li>
                        <img class="" src="assets/img/Logo@3x.png">
                    </li>
                    <li>
                        <div class="">Welcome to BluePic</div>
                    </li>
                    <li>
                        <div>
                            <p><a id="facebookLogin" class="btn btn-primary btn-lg btn-facebook" ng-click="loginUsingFacebook();" href="#" role="button">Sign in with facebook</a></p>
                            <p><a id="facebookLogout" style="display:none;" class="btn btn-warning btn-lg btn-facebook" ng-click="logoutFacebook();" href="#" role="button">Logout</a></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>