<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cdt_username</key>
	<string>2bb3566f-ea0f-499c-ba2c-1e7317cd7ffe-bluemix</string>
	<key>cdt_db_name</key>
	<string>my_db</string>
	<key>cdt_tests_db_name</key>
	<string>tests_db</string>
	<key>cdt_key</key>
	<string>heresclyinglownstindbadv</string>
	<key>cdt_pass</key>
	<string>e22cda58e40afb28d7614e9e57272fcc1d27d946</string>
	<key>backend_route</key>
	<string>http://MyBluemixApp-irar-1135.mybluemix.net</string>
	<key>GUID</key>
	<string>ae91cf20-87fe-4604-83a1-0ce87526fe48</string>
	<key>obj_stg_public_url</key>
	<string>https://identity.open.softlayer.com/</string>
	<key>obj_stg_password</key>
	<string>D.uy0d.(nzY4wzdF</string>
	<key>obj_stg_user_id</key>
	<string>543ce3a9b50c414082d35358bc185ccc</string>
	<key>obj_stg_project_id</key>
	<string>cf1063b0d5b440e4a999ec4ad9fd875e</string>
	<key>obj_stg_auth_url</key>
	<string>https://identity.open.softlayer.com/</string>
</dict>
</plist>
