.card-outline-blank {
    border-color: transparent;
}

.navbar-nav .nav-center {
    display: inline-block;
    left: 0;
    right: 0;
    margin:0;
    float:none;
}

.navbar-inner {
    text-align: center;
}

.navStyles {
    padding: 19px 0px;
    background-color: #000000
}

.flexParent{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexLeft,.flexCenter{flex-grow: 1;}

.search {
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    text-align: center;
    width: 300px !important;
}

.fontAwesome {
    font-family: 'FontAwesome';
}

.authorFont {
    /*font-family: SanFranciscoText;*/
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: #999999;
    text-align: center;
}

.locationFont {
    /*font-family: SanFranciscoText;*/
    font-size: 18px;
    font-weight: 700;
    line-height: 2.22;
    letter-spacing: 1.9px;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
}

.greyBackground {
    background-color: rgba(51, 51, 51, 0.6);
}

.imgOverlay img {
    max-height: 100%;
    max-width: 100%;
}
.imgOverlay:hover img {
    opacity: 0.5;
    transition: 0.6s;
}

#overlay .hideMetadata {
    visibility: hidden;
}

#overlay:hover .hideMetadata {
    margin-top: 30px;
    visibility: visible;
    transition: 0.6s;
}

.metadataFont {
    opacity: 0.7;
    font-family: SanFranciscoText;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

.cropHeight {
    max-height: 200px;
    overflow: hidden;
}

img.bannerImg {
    display: block;
    width: 100%; /* corrects obscure Firefox bug */
    max-width: 100%;
    height: auto !important;

}

.profileImg {
    width: 150px;
    height: 150px;
    margin-top: -75px;
    /*opacity: 0.9;*/
    /*background-color: #999999;*/
}

.lineCenter {
    text-align: center;
}

.topMargin {
    margin-top: 15px;
}

.marginTop30 {
    margin-top: 30px
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.cardMargin {
    margin: 4%;
}

.profileCardMargin {
    margin: 0 4% 0;
}

.marginLeft {
    margin-left: 5%;
}

.marginLeft2 {
    margin-left: 40px;
}

.marginsRight {
    margin: 5px 5% 0 0;
}

.backgroundImg {
    background: url(http://www.minimit.com/images/picjumbo.com_IMG_6648.jpg) no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

.background {
    background: url(http://www.minimit.com/images/picjumbo.com_IMG_6648.jpg);
    /*background: url("../img/login-photo.png");*/
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size: cover;
}

.container2 {
    display: table;
    height: 100%;
    position:absolute;
    overflow: hidden;
    width:100%;}

.helper {
    display: table-cell;
    vertical-align: middle;}

.content {
    /*margin:0 auto;*/
    /*width:200px;*/
    text-align: center;
    /*border:1px solid orange;*/
}
