.card-outline-blank {
    border-color: transparent;
}

.navbar-nav .nav-center {
    display: inline-block;
    left: 0;
    right: 0;
    margin:0;
    float:none;
}

.navbar-inner {
    text-align: center;
}

.flexMom{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexLeft,.flexCenter{flex-grow: 1;}

.search {
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    text-align: center;
}

.fontAwesome {
    font-family: 'FontAwesome';
}

.authorFont {
    /*font-family: SanFranciscoText;*/
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: #999999;
}

.locationFont {
    /*font-family: SanFranciscoText;*/
    font-size: 18px;
    font-weight: 700;
    line-height: 2.22;
    letter-spacing: 1.9px;
    color: #333333;
    text-transform: uppercase;
}

.imgOverlay {
    background-color: rgba(51, 51, 51, 0.6);
}

.imgOverlay img {
    max-height: 100%;
    max-width: 100%;
}
.imgOverlay:hover img {
    opacity: 0.5;
    transition: 0.6s;
}

#overlay .hideMetadata {
    visibility: hidden;
}

#overlay:hover .hideMetadata {
    visibility: visible;
    transition: 0.6s;
}

.metadataFont {
    opacity: 0.7;
    font-family: SanFranciscoText;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}
